html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: $grayishBlue;
  font-size: $font-md;
  overflow-x: hidden;
  &.no_scroll {
    overflow: hidden;
  }
  @include breakPoint-Up(large) {
    font-size: $font-lg;
  }
}
h1,
h2,
h3 {
  font-weight: 300;
  color: $darkBlue;
  line-height: 1.15;
  margin-top: 0px;
}
h1 {
  font-size: 2.3125rem;
  margin-bottom: 1.5rem;
  @include breakPoint-Up(large) {
    font-size: $font-xlg;
  }
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  @include breakPoint-Up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
//flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
//button
button,
.button {
  position: relative;
  display: inline-block;
  padding: 1rem 2.1875rem;
  background-image: linear-gradient(to left, $brightCyan, $limeGreen);
  border-radius: 50px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: $font-sm;
  font-weight: 400;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #fff, $alpha: 0.25);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  &:hover::before {
    opacity: 1;
  }
}
//visibility
.hide-for-mobile {
  @include breakPoint-Down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakPoint-Up(large) {
    display: none;
  }
}
.container {
  max-width: 69.375rem;
  margin: 0 auto;
  &--x {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &--y {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    @include breakPoint-Up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
  &--pt {
    padding-top: 4.375rem;
    @include breakPoint-Up(large) {
      padding-top: 6rem;
    }
  }
  &--pb {
    padding-bottom: 4.375rem;
    @include breakPoint-Up(large) {
      padding-bottom: 6rem;
    }
  }
  &--pall {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    @include breakPoint-Up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}
